[Desktop Entry]

Name=Virtual MIDI Keyboard
Comment=MIDI Virtual Keyboard
Icon=vkeybd

Type=Application
Categories=AudioVideo;Audio;

Exec=vkeybd
Terminal=false
