[Desktop Entry]
Encoding=UTF-8

Name=Virtual MIDI Keyboard
Comment=MIDI Virtual Keyboard
Icon=/usr/share/icons/vkeybd.xpm

Type=Application
Categories=Application;AudioVideo;Audio;

Exec=vkeybd
Terminal=false
